<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border>
        <thead>
            <tr>
                <th>クラブ名</th>
                <th>サークル説明</th>
                
            </tr>
        </thead>
        <tbody>
            {% for clubs in club %}
            <tr>
                <td>{{ clubs[1] }}</td>
                <td>{{ clubs[5] }}</td>
                
                

            </tr>
            {% endfor %}
        </tbody>
</body>
</html>