<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border>
        <thead>
            <tr>
                <th>クラブ名</th>
                <th>サークル説明</th>
                <th>サークル削除</th>
            </tr>
        </thead>
        <tbody>
            {% for clubs in club %}
            <tr>
                <td>{{ clubs[1] }}</td>
                <td>{{ clubs[5] }}</td>
                <td><form action="{{ url_for('club_delete_tea.club_delete_tea', name = clubs[1] ) }}" method="post" >
                    <button type="submit">サークル削除</button></form></td>

            </tr>
            {% endfor %}
        </tbody>
</body>
</html>