{% extends "layout_student.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/search_response.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}

<div id="search">
    <div class="h4">
    <h4>あなたにピッタリのサークルが見つかる！</h4>
    </div>
    <form action="{{url_for('club_search.club_search_resstu')}}" class="search-form-001"  method="post">
        <label>
            <input type="text" placeholder="例 ）バスケ" name="name">
        </label>
        <button type="submit" aria-label="検索"></button>
    </form>
</div>

<div id="bkbtn">
    <form action="{{url_for('backtop_student')}}" method="post">
        <input type="hidden" name="student" value="{{student[0]}}">
      <button type="submit" id="back" >←戻る</button>
</div>

<div class="resdiv">
    <div class="position-relative">
        <div position-absolute top-100px start-20px>
            <table class="table table-bordered border-success"  style="margin-bottom: 60px;">
                <thead>
                    <tr>
                        <th style="width: 400px">サークル名</th>
                        <th style="width: 500px">サークル説明</th>    
                    </tr>
                </thead>
                <tbody>
                    {% for clubs in club %}
                    <tr>
                        <td>
                            <a class="title" href="{{ url_for('club.club_detail', club_id=clubs[0], student=student[0]) }}" name="club_id" values="{{ clubs[0] }}">{{ clubs[1] }}</a><br>
                            <span style="font-size: 13px;" >{{clubs[1]}}</span>
                        </td>
                        <td>{{ clubs[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}