{% extends "layout_student.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/top_t_c_l.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
<div id="search">
  <h4 class="h4">あなたにピッタリのサークルが見つかる！</h4>
  <form action="{{url_for('club_search.club_search_nologres')}}"  class="search-form-001" method="post">
    <label>
        <input type="text" placeholder="例 ）バスケ" name="name">
    </label>
    <button type="submit" aria-label="検索"></button>
</form>
</div>
<div>
  <h3 class="tblh3">人気のサークルはこちら</h3>
  <div class="tbl">
    <div class="position-relative">
      <div position-absolute top-100px start-20px>
        <table class="table table-bordered border-success"  style="margin-bottom: 60px;">
          <thead>
            <tr>
              <th scope="col" style="width: 460px"  align="center">サークル</th>
              <th scope="col" style="width: 84px">メンバー数</th>
            </tr>
          </thead>
          <tbody>
            {% for row in club_list%}
            <tr>
              <td>
                <a class="title" href="{{ url_for('club.club_detail', club_id=row[0][0], student=student) }}" style="color: #000000;" name="club_id" values="{{ row[0][0] }}">{{ row[0][1] }}</a><br>
                <span style="font-size: 13px;" >{{row[0][2]}}</span>
              </td>
              <td  align="center" valign="middle">{{row[1][0][0]}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <div class="ta">
      <div class="divlaunch">
        <p class="p1">サークル立ち上げ申請はこちら</p>
        <a class="launch" href="{{url_for('req.request_form')}}">立ち上げる</a>
        <p class="p2">サークルの立ち上げは3人以上の<br>メンバーが必要です!</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}