@charset "utf-8";


.club{
    margin-top: 1em;
}

.h2{
    text-align: center;
}

.main{
    margin-left: 3rem;
    margin-right: 3rem;
}

.content{
    font-size: 20px;
}

.join{
    position: relative;
    top: 40px;
    left: 1040px;
}

.joinbtn{
    position: fixed;
    font-size: 20px;
    color: #0693E3;
    width: 120px;
    height: 55px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.joinbtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}

.pagetop{
    position: relative;
    top: 100px;
    left: 1100px;
}

.pagetop0{
    position: relative;
    top: 100px;
    left: 1100px;
}

canvas{
    position: fixed;
    border: 1px solid #0693e3;
    background-color: #0693E3;
}

.meminput{
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
}

/* 活動記録 */
.record{
    margin-top: 20px;
    margin-right: 1.45rem;
}

.katsudobi{
    text-align:center; 
    font:middle;
    width: 180px;
}

.ktitle{
    text-align:center; 
    font:middle;
    width: 400px;
}

.recordspan{
    font-size: 18px;
    padding-left: 45.5em;
}

.recorda{
    text-decoration: none;
}


/* メンバー */
.member{
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 1.3rem;
}

.member td{
    width: 200px;
}

#bkbtn {
    float: left;
    margin-top: -60px;
    padding-left: 20px;
}

#back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
}