@charset "utf-8";

/* 申請一覧 */
h3{
    text-align: center;
}

.tbl{
    text-align: center;
    margin-top: 2em;
}

td{
    vertical-align: middle;
}

.yesbtn{
    font-size: 15px;
    color: #0693E3;
    width: 100px;
    height: 35px;
    border-radius:30px;
    border: solid 2px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.yesbtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}

.nobtn0{
    font-size: 15px;
    color: #ff0000;
    width: 100px;
    height: 35px;
    border-radius:30px;
    border: solid 2px;
    background-color: #FFFFFF;
    border-color: #ff0000;
}

.nobtn0:hover{
    color: #FFFFFF;
    background-color: #ff0000;
}

/* 承認 */

.ok{
    text-align: center;

    margin-top: 5em;

}

.okform{
    margin-top: 5em;
}

.okinput{
    width: 350px;
    font-size: 25px;
}

.okbtn{

    margin-top: 4em;

    font-size: 25px;
    color: #0693E3;
    width: 200px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.okbtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}

/* 否認理由 */
.no{
    text-align: center;
}

.notable{
    margin-left: 11.5em;
}

span{
    font-size: 20px;
    padding-right: 1em;
}

.noth{
    vertical-align: top;
}

.noku{
    empty-cells: hide;
}

.noinput{
    width: 550px;
}

.notxtara{
    resize: none;
    width:550px;
    height:250px;
}

.nobtn{
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.nobtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}

/* 否認理由確認 */

.conf{
    text-align: center;
}

.conftable{
    margin-left: 11.5em;
}

.confth{
    vertical-align: top;
}

.confinput{
    width: 550px;
}

.confku{
    empty-cells: hide;
}

.conftextarea{
    resize: none;
    width:550px;
    height:250px;
}

.confbtn{
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.confbtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}

/* 完了 */

.res{
    margin-top: 6em;
    text-align: center;
}

.resp{
    font-size: 30px;
}

.resbtn{
    margin-top: 5em;
    font-size: 25px;
    color: #0693E3;
    width: 200px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.resbtn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
}



/* 戻る */
#bkbtn {
    float: left;
    margin-top: -75px;
}

#h3 {
    margin-top: 20px;
}

#okbkbtn {
    float: left;

    margin-top: -150px;
}

#list_bkbtn{
    float: left;
    margin-top: -40px;
}

#back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
}