@charset "utf-8";

@charset "utf-8";

/* 確認画面 */
h3{
    text-align: center;
    margin-top: 3em;
}

.button1{
    float: left;
    margin-left: 300px;
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.button1:hover{
    background-color: #0693e3;
    color: #ffffff;
}

.button2{
    float: right;
    margin-right: 300px;
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
}

.button2:hover{
    background-color: #0693e3;
    color: #ffffff;
}

#bkbtn {
    float: left;
    padding-left: 20px;
}

#back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
}

/* 完了画面 */
.div1{
    text-align: center;
}
.p{
    font-size: 30px;
    margin-top: 4.5em;
}

.btn {
    margin-top: 60px;
    font-size: 25px;
    color: #0693E3;
    width: 170px;
    height: 60px;
    border-radius:30px;
    border: solid 5px;
    background-color: #FFFFFF;
    border-color: #0693E3;
  }

  .btn:hover{
    color: #FFFFFF;
    background-color: #0693E3;
  }