@charset "utf-8";

#search{
  padding-top: 90px;
  padding-left: 450px;
}

.h4{
  margin-left: 12px;
}

.search-form-001 {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 400px;
  border: 3px solid #64b894;
  border-radius: 20px;
}

.search-form-001 input {
  width: 345px;
  height: 45px;
  padding: 5px 10px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}

.search-form-001 input::placeholder{
  color: #767d83;
}

.search-form-001 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  border: none;
  background-color: #64b894;
  cursor: pointer;
}

.search-form-001 button::after {
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  content: '';
}

.aBtn {
  margin-left: 15px;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  transition: .3s;
}

.aBtn:hover {
  opacity: 0.7;
}

.login{
  width: 80px;
  height: 35px;
  padding-top: 4px;
  padding-left: 13px;
  margin-right: 40px;
  background-color: #ffffff;
  color: #0693e3;
  border: 1px solid #ffffff;

}

.loginBtn{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.login:hover{
  border-color: #ffffff;
  color: #0693e3;
}

.menuheader{
  background-color: #ffffff;
  color: #000000;
}

.hbgBtn{
  padding-left: 130px;
  margin-top: 10px;
  font-size: 16px;
  text-decoration:none;
  background: #ffffff;
  border: 5px solid #dddddd;
  border-radius: 50px;
  display: inline-block;
  transition: .3s;
}

.hbgBtn .fivecharacters{
  padding-left: 13px;
}

.hbgBtn .fourcharacters{
  padding-left: 10px;
}

.hbgBtn:hover {
  border: 5px solid #0693e3;
}

.logoutBtn{
  padding-left: 143px;
  margin-top: 50px;
  font-size: 16px;
  text-decoration:none;
  background: #ffffff;
  border: 5px solid #dddddd;
  border-radius: 50px;
  display: inline-block;
  transition: .3s;
}

.logoutBtn:hover {
  border: 5px solid #ff0000;
}

/* table */
.tbl{
  display: flex;
  justify-content:  space-around;
}

.tab{
  top: 50px;
  left: 50px;
}

/* 左のボタン */
.ta{
  position: relative;
  top: 50px;
  left: 50px;
}

.divlaunch{
  position: fixed;
  border: 6px solid #EED243;
  border-radius: 30px;
  width: 280px;
  height: 300px;
  top: 230px;
  right: 90px;
}


.p1{
  margin-top: 20px;
  margin-left: 60px;
  font-size: 18px;
  font-weight: bold;
}

.launch {
  position: absolute;
  top: 70px;
  right: 80px;
  width: 110px;
  height: 50px;
  padding-top: 12px;
  padding-left: 30px;
  color: #000000;
  font-size: 17px;
  text-decoration:none;
  background: #FFD165;
  border-radius: 35px;
  display: inline-block;
  transition: .3s;
}

.launch:hover{
  opacity: 0.7;
}

.p2{
  margin-top: 100px;
  margin-left: 58px;
}

.p2 span{
  font-weight: bold;
}


h3{
  margin-top: 10px;
  margin-left: 200px;
}