@charset "utf-8";

.mypageall{
    text-align: center;
    margin-top: 8em;
    margin-left: 10rem;
    margin-right: 10rem;
}

/* #frm{
    border: 1px solid black;
} */

#frm th{
    text-align: left;
    padding-left: 1em;
    font-size: 18px;
    width: 350px;
    height: 60px;
    border:1px solid #DCDCDC;
    background: #B3D8EB;
  }
     
#frm td{
    text-align: left;
    padding-left: 1em;
    font-size: 18px;
    width: 600px;
    height: 60px;
    border:1px solid #DCDCDC;
    background:#ffffff;
}

input{
    border: none;
    outline: none;
}

#bkbtn {
    float: left;
    margin-top: -50px;
    padding-left: 20px;
}

#back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
}