@charset "utf-8";

.mypageall{
    text-align: center;
    margin-top: 3em;
    margin-left: 10rem;
    margin-right: 10rem;
}

/* #frm{
    border: 1px solid black;
} */

#frm th{
    text-align: left;
    padding-left: 1em;
    font-size: 18px;
    width: 350px;
    height: 60px;
    border:1px solid #DCDCDC;
    background: #B3D8EB;
  }
     
#frm td{
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 18px;
    width: 600px;
    height: 60px;
    border:1px solid #DCDCDC;
    background:#ffffff;
}

.input{
    border: none;
    outline: none;
    width: 100%;
}

.myinput{
    border: none;
    outline: none;
    width: 70%;
}

.list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(0, auto);
}

.list .mybtn{
    margin: 10px;
    font-size: 15px;
    float: right;
    color: #ffffff;
    width: 60px;
    height: 35px;
    border-radius:30px;
    border: solid 2px;
    background-color: #ff0000;
    border-color: #ff0000;
}


#bkbtn {
    float: left;
    padding-left: 20px;
}

#back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
}