@charset "utf-8";

/* h4{
    text-align: center;
}

input{
    text-align: center;
    margin-top: 14px;
    height: 26px;
    font-size: 21px;
}

.btn{

} */

#search{
    padding-top: 150px;
    padding-left: 370px;
}

h4{
    text-align: center;
    padding-top: 1em;
}

.search-form-001 {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 400px;
    border: 3px solid #0693e3;
    border-radius: 20px;
}

.search-form-001 input {
    width: 345px;
    height: 45px;
    padding: 5px 10px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-001 input::placeholder{
    color: #767d83;
}

.search-form-001 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #0693e3;
    cursor: pointer;
}

.search-form-001 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

.table1{
    text-align: center;
}
.name{
    width: 250px;
}

.year{
   width :130px;
}

.dlbtn{
    width: 220px;
}

td{
    vertical-align: middle;
}

.btn{
    padding-left: 2rem;
    padding-right: 2rem;
    border-color: #F9406E;
    border-radius: 35px;
}

.btn:hover{
    color: #ffffff;
    background-color: #F9406E;
}


#bkbtn {
    float: left;
    margin-top: -50px;
    padding-left: 20px;
}

#back {
    text-decoration: none;
    font-size: 25px;
    color: black;
    border: none;
    outline: none;
    background: none;
}
#inputlength{
    margin-left: 500px;
  }
  
  .tharea7{
    padding: 20px;
    vertical-align: top;
  }
  
  #requiredarea7{
    float: right;
    text-align: center;
    color: #FFFFFF;
    background: #FF4D4D;
    font-size: 15px;
    height: 25px;
    width: 55px;
  }
  
  #tdarea8{
    height: 70px;
  }
  
  #textarea8{
    resize: none;