{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/repass.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}

{% block content %}
    <h3>パスワードリセット画面</h3>
    <div id="bkbtn">
        <button id="back" onclick="history.back()">←戻る</button>
    </div>
    <div class="passform">    
        <form action="{{url_for('account.password_reset2')}}" method="POST">
            <p class="passp">パスワードをリセットするアカウントのメールアドレスを入力してください</p>
            <input class="input1" type="mail" name="mail">
            <br>
            <button class="inputbtn" type="submit">送信</button>
        </form>  
    </div>
{% endblock %}