{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/repass.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}

{% block content %}

    <h3>パスワードリセット</h3>
    <div id="bkbtn">
        <button id="back" onclick="history.back()">←戻る</button>
    </div>
    <div class="reform">
    <form action="{{url_for('account.password_reset4')}}" method="POST">
        <span class="span1">新しいパスワード:</span><input class="input2" type="password" name="pass1">
        <br>
        <span class="span2">パスワードの確認:</span><input class="input3" type="password" name="pass2">
        <br>
        <button class="rebtn" type="submit">送信</button>
    </form>

{% endblock %}