{% extends "layout_leader.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/mypage.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
<div id="bkbtn">
  <button id="back" onclick="history.back()">←戻る</button>
</div>
<div class="mypageall">
  <div class="position-relative">
    <div position-absolute top-100px start-20px>
      <table id="frm" style="margin-bottom: 20px;">
        <tr>
          <th align="center">名前</th>
          <td><input class="input" type="text" name="name" id="name" value="{{name}}" readonly></th>
        </tr>
        <tr>
          <th align="center">メールアドレス</th>
          <td><input class="input" type="text" name="mail" id="mail" value="{{mail}}" readonly></td>
        </tr>
        <tr>
          <th align="center">入学年度</th>
          <td><input class="input" type="text" name="entrance_year" id="entrance_year" value="{{entrance_year}}" readonly></td>
        </tr>
        <tr>
          <th align="center">学科</th>
          <td><input class="input" type="text" name="department" id="department" value="{{department}}" readonly></td>
        </tr>
        <tr>
          <th align="center">所属サークル</th>
            {% for club_name_list in club_name_list %}
              <td>              
                <input class="myinput" type="text" name="club_name" id="club_name" value="{{club_name_list[0]}}" readonly>
              </td>
            {% endfor%}
        </tr>
          <th align="center">パスワード</th>
          <td><input class="input" type="text" name="password" id="password" value="*************" readonly></td>
        </tr>
      </table>
    </div>
  </div>

</div>
  
{% endblock %}