<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
  <p>名前</p>
  <input type="text" name="name" id="name" value="{{name}}" readonly>
  <p>メールアドレス</p>
  <input type="text" name="mail" id="mail" value="{{mail}}" readonly>
  <p>入学年度</p>
  <input type="text" name="entrance_year" id="entrance_year" value="{{entrance_year}}" readonly>
  <p>学科</p>
  <input type="text" name="department" id="department" value="{{department}}" readonly>
  <p>所属サークル</p>
  {% for club_name_list in club_name_list %} 
  <input type="text" name="club_name" id="club_name" value="{{club_name_list[0]}}" readonly>
  <form action="{{ url_for('club_withdrawal.club_withdrawal', club_name = club_name_list[0]  )}}" method="post" >
    <button type="submit">脱退</button></form> 
  {% endfor%}
  <p>パスワード</p>
  <input type="text" name="password" id="password" value="*************" readonly>
  

 
</body>
</html>