<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table id="frm" style="margin-bottom: 60px;">
        <tr>
          <th align="center">名前</th>
          <td><input class="input" type="text" name="name" id="name" value="{{name}}" readonly></th>
        </tr>
        <tr>
          <th align="center">メールアドレス</th>
          <td><input class="input" type="text" name="mail" id="mail" value="{{mail}}" readonly></td>
        </tr>

          <th align="center">パスワード</th>
          <td><input class="input" type="text" name="password" id="password" value="*************" readonly></td>
        </tr>
      </table>
</body>
</html>