

header {
    padding-top: 4px;
    padding-left: 20px;
    font-family:'メイリオ', 'Meiryo', sans-serif;
    color: #ffffff;
    height: 63.5px;
    background-color: #0693E3;
}

main { 
    padding-top: 70px;
	padding-bottom: 150px; 
}

footer {
    margin-top: auto;
    padding: 7px;
    text-align: center;
    color: #ffffff;
    background-color: #077EC1;
    height: 40px;
}

#p1 {
    float: left;
    font-size: 20pt;
}

#p2 {
    padding-left: 40px;
    float: left;
    font-size: 18pt;
}


