{% extends "layout_leader.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/club_create.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}

{% block content %}
  <div class="notcreateconf">
    <h2>否認理由入力内容確認</h2>

    <table class="notcreateconftable">
      <thead>
        <tr>
          <th>タイトル</th>
          <th><input type="text" value="サークルの参加申請について" readonly></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>否認理由</td>
          <td>
            <form action="{{ url_for('app_data.club_not_create_exe') }}">
              <input type="text" name="reason" value="{{reason}}" readonly>
              <button type="submit">送信</button>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
