<!DOCTYPE html>
{% extends "layout_leader.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/club_create.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}

{% block content %}
    <div class="notcreate">
      <h2>否認理由入力画面</h2>

      <div id="bkbtn">
        <a id="back" href="{{url_for('app_data.club_not_create_conf')}}">←戻る</a>
      </div>
      <br>
      <table class="notcreateteble">
        <thead>
          <tr>
            <th><span>件名</span></th>
            <td><input class="notcreateinput" type="text" value="サークルの参加申請について" readonly></td>  
          </tr>
        </thead>
        <tbody>
          <tr>

            <td class="noku">
              <br>
            </td>
          </tr>
          <tr>
            <th class="noth"><span>否認理由</span></th>
            <td>
              <form action="{{ url_for('app_data.club_not_create_conf') }}" method="post">
                <textarea class="notxtara" type="text" name="reason" placeholder = "否認理由を入力してください"></textarea>
                <br>
                <br>
                <button class="nobtn" type="submit">確認</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}
