{% extends "layout_student.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/request.css') }}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}

{% block content %}
  <h4>サークル立ち上げ申請フォーム</h4>
  {% if error %}
    <p style="color:red" id="er">{{ error }}</p>
  {% endif %}
  {% if msg %}
    <p style="color:blue">{{ msg }}</p>
  {% endif %}
  <form action="{{ url_for('req.request_conf') }}" method="post">
    <table id="frm">
      <tr>
        <th class="th1">
          サークル名
          <p id="required1">必須</p>
        </th>
        <td class="td1"><input id="inp1" type="text" name="club_name" value="{{ club_name }}" required></td>
      </tr>
      <tr>
        <th class="th2">
          代表者　メールアドレス
          <p id="required2">必須</p>
        </th>
        <td class="td2"><input id="inp2" type="email" name="leader_mail" value="{{ leader_mail }}" required></td>
      </tr>
      <tr>
        <th class="th2">
          サークルメンバー　メールアドレス
          <p id="required2">必須</p>
        </th> 
        <td class="td2"><input id="inp2" type="email" name="member_adress1" value="{{ member_adress1 }}" required></td>
      </tr>
      <tr>
        <th class="th2">
          サークルメンバー　メールアドレス
          <p id="required2">必須</p>
        </th> 
        <td class="td2"><input id="inp2" type="email" name="member_adress2" value="{{ member_adress2 }}" required></td>
      </tr>
      <tr>
        <th class="th3">
          サークルメンバー　メールアドレス
          <p> サークルメンバーが4名以上いる場合は、
            メールアドレスを入力してください。
            また、1名ごとに空白で改行してください。</p>
        </th> 
        <td class="td3"><textarea id="inp3" rows="10" cols="3" name="member_adresses" value="{{ member_adresses }}" ></textarea></td>
      </tr>
      <tr>
        <th class="th5">
          活動目標
          <p id="required5">必須</p>
          <p>簡単でいいので活動目標を教えてください。</p>
        </th>
        <td class="td6"><textarea id="inp6" name="objective" required>{{ objective }}</textarea></td>
      </tr>
      <tr>
        <th class="th6">
          活動内容
          <p id="required6">必須</p>
          <p>簡単でいいので活動内容を教えてください。</p>
        </th>
        <td class="td7"><textarea id="inp7" name="activities" required>{{ activities }}</textarea></td>
      </tr>
      <tr>
        <th class="th7">
          サークル説明
          <p id="required7">必須</p>
          <p>サークルの説明を30文字以内で記入してください。</p>
        </th>
        <td class="td8"><textarea id="inp8" name="introduction" required>{{ introduction }}</textarea></td>
      </tr>
      <tr>
        <th class="th8">備考</th>
        <td class="td8"><textarea id="inp9" name="note">{{ note }}</textarea></td>
      </tr>
    </table>
    <table id="frmBtn">
      <tr>
        <td>
          <div id="btn1">
            <button type="button" onclick="location.href='{{url_for('backtop_student')}}'" class="b1">戻る</button>
          </div>
        </td>
        <td>
          <div id="btn2">
            <button type="submit" class="b2">確認</button>
          </div>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
