{% extends "layout_teacher.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/request_detail.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
    <h4>立ち上げ申請確認</h4>
    <table id="frm">
        <tr>  
            <th class="th1">
                サークル名
            </th>
            <td>
                {{request_detail[0]}}
            </td>
        </tr>
        <tr>  
            <th class="th1">
                代表者メールアドレス
            </th>
            <td>
                {{leader_mail[2]}}
            </td>
        </tr>

        {% for row in student_mail_list : %}
        <tr>  
            <th class="th1">
                サークルメンバー メールアドレス
            </th> 
            <td>
                {{row}}
            </td>      
        </tr>
        <tr>  
        {% endfor %}
            <th class="th1">
                サークル活動目標
            </th>       
            <td>
                {{request_detail[2]}}
            </td>
        </tr>
        <tr>  
            <th class="th1">
                活動内容
            </th>       
            <td>
                {{request_detail[3]}}
            </td>
        </tr>
        <tr>  
            <th class="th1">
                サークル説明
            </th>       
            <td>
                {{request_detail[4]}}
            </td>
        </tr>
        <tr>  
            <th class="th1">
                備考
            </th>
            <td>
                {{request_detail[5]}}
            </td>
        </tr>
        </table>
        
        <div class="btn1">
            <button  class="button1" type="button" onclick="location.href='{{url_for('app_data.approve_list_te')}}'">戻る</button>
        </div>
            <form action="{{url_for('app_data.club_not_create')}}" method="POST">
            <input type="hidden" name="club_id" value="{{club_id}}" >
            <div class="btn2">
                <button class="button2" type="submit" >否認</button>
            </div>
        </form>

        <form action="{{url_for('app_data.request_exe')}}" method="POST">
            <input type="hidden" name="club_id" value="{{club_id}}" >
            <div class="btn3">
                <button class="button1" type="submit" >承認</button>
            </div>
        </form>
{%endblock%}