{% extends "layout_leader.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/join_req.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
<div class="conf">
  <h2>否認理由入力内容確認</h2>
  <br>
  <div id="bkbtn">
    <button id="back" onclick="location.href='{{url_for('club2.join_req_noexe')}}'">←戻る</button>
  </div>
  <div class="conftable">
    <table>
      <thead>
        <tr>
          <th><span>件名</span></th>
          <td><input class="confinput" type="text" value="サークルの参加申請について" readonly></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="confku">
            <br>
          </td>
        </tr>
        <tr>
          <th class="confth"><span>否認理由</span></th>
          <td>
            <form action="{{ url_for('club2.join_req_noconf') }}" method='POST'>
              <textarea class="conftextarea" type="text" name="reason" value="{{reason}}" ></textarea>
              <br>
              <button class="confbtn" type="submit">送信</button>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

