<!DOCTYPE html>
{% extends "layout_leader.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/join_req.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
    <div class="ok">
        <h3>以下の学生をサークルに参加させます。よろしいですか。</h3>
        <br>

        <div id="okbkbtn">
          <button id="back" onclick="location.href='{{url_for('club2.join_req_list')}}'">←戻る</button>
        </div>

        <form class="okform" action="{{url_for('club2.join_req_okexe')}}" method="post">
            <input class="okinput" type="hidden" name="student_id" value="{{student}}" readonly>
            <br>
            <button class="okbtn" type="submit">参加申請承認</button>
        </form>
    </div>

{% endblock %}

