{% extends "top_student.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/approve_list_st.css')}}">
{% endblock %}

{% block content %}
<body>
    <div id="btn">
        <a id="back" href="#">←戻る</p>
    </div>
    <h4>申請一覧</h4>
            <table id="frm">
            <tr>
                <th class="th1">
                    サークル名
                </th>
                <th class="th2">
                    リーダー
                </th>
                <th class="th3">
                    学科
                </th>
                <th class="th4">
                    学年
                </th>
                <th class="th5">
                    申請内容
                </th>
            </tr>
            <tr>
                <td class="td1"><a id="club" href="{{url_for('get_request_exe')}}">Python開発</a></td>
                <td class="td2">盛岡太郎</td>
                <td class="td3">情報システム科</td>
                <td class="td4">2年</td>
                <td class="td5">立ち上げ</td>
            </tr>
            </table>   
</body>
{% endblock %}