{% extends "layout_student.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/join_send.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}

{% block content %}

    <h3>参加申請を行います</h3>
    <br>
    <br>
    <br>
    <br>
    <button class="button1" onclick="history.back()">戻る</button>
    <button class="button2" onclick="location.href='{{url_for('club.club_join_req3', club_id=club_id)}}">申請</button>
    

{% endblock %}
