<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教員アカウント削除確認</title>
</head>
<body>
    
    <p>名前</p>
    <input type="text" name="name" id="name" value="{{name}}" readonly>
    <p>メールアドレス</p>
    <input type="text" name="mail" id="mail" value="{{mail}}" readonly>
    <form action="{{ url_for('teacher_mgm.teacher_delete_res', mail = mail  )}}" method="post" >
        <button type="submit">アカウント削除</button></form>                                      

</body>
</html>