<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOPページ</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <!-- Header Start -->
<header class="site-header">
    <div class="wrapper site-header__wrapper">
    <a href="#" class="brand">Brand</a>
    <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
        menu
        </button>
    </nav>
    </div>
</header>
    <!-- Header End -->
<body>
    <h1>TOPページ</h1>
    <a href="{{url_for('account.regist')}}">アカウント登録</a></a><br>
    <a href="{{ url_for('admin.tea_regist')}}"><button>教員アカウント登録</button></a>
    <a href="{{ url_for('admin.tea_account_setting')}}"><button>教員アカウント設定</button></a>
    <form action="{{ url_for('club.club_join_req')}}" method="POST">
        <!-- セッションかなんかからstudent_id取ってくる -->
        <input type="hidden" name="student_id" value="5">
        <button type="submit">サークル参加申請</button>
    </form>
    <a href="{{ url_for('club2.join_req_list') }}">      <button>サークル参加申請承認    </button></a>
    <a href="{{ url_for('app_data.approve_list_st') }}"> <button>サークル立ち上げ申請一覧</button></a>
    <a href="{{ url_for('app_data.gakuseikai_regist')}}"><button>学生会登録             </button></a>
    <a href="{{ url_for('app_data.mail_send')}}">        <button>連絡送信              </button></a>
    <a href="{{ url_for('account.login')}}">        <button>ログイン              </button></a>
    <form action ="{{url_for('app_data.club_delete')}}" method="POST">
        サークルid<input type="number" name="club_id" >
        <button type="submit">サークル削除申請</button>
    </form>
</body>
</html>