<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOPページ</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <!-- Header Start -->
<header class="site-header">
    <div class="wrapper site-header__wrapper">
    <a href="#" class="brand">Brand</a>
    <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
        menu
        </button>
    </nav>
    </div>
</header>
    <!-- Header End -->
<body>
    <h1>TOPページ</h1>
    <a href={{url_for('account.regist')}}>アカウント登録</a></a><br>
    <a href="{{ url_for('page_b') }}"><button>ページBへ</button></a>
    <a href="{{ url_for('page_c') }}"><button>ページCへ</button></a>
</body>
</html>
