{% extends "layout_teacher.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/mail.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
  <p class="mailp">リーダー連絡</p>

  <div id="bkbtn">
    <button id="back" onclick="history.back()">←戻る</button>
  </div>
  <div class="form">
      <form action="{{url_for("app_data.mail_send_conf")}}" method="POSt">
      件名:<input class="inputken" type="text" name="subject">
      <br>
      <br>
      本文:<input class="inputhon" type="text" name="body">
      <br>
      <br>
      <br>
      <button class="mailbtn" type="submit" >送信</button>

  </form>
  </div>

{% endblock %}

