<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>sample</title>
  <style>
    #overlay {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(99, 99, 99, 0.3);
      display: none;
      z-index: 998;
    }
    #overlayWindow {
      width: 30%;
      height: 60%;
      margin: 100px auto;
      border: 2px solid #000000;
      background-color: #FFFFFF;
      text-align: center;
      display: none;
      z-index: 999;
    }
  </style>
</head>
<body>
    <h4>学生アカウント登録</h4>
    <p class="p1">以下の内容で登録しますか？</p>
    <table id="frm">
    <form action="{{url_for('account.otp_send')}}" method="POST">
        <tr>
            <th class="th1">名前</th>
            <td class="td1"><a>{{name}}</a></td>
        </tr>
        <tr>
            <th class="th2">メールアドレス</th>
            <td class="td2"><input type="readonly" value={{mail}} name="mail"></td>
        </tr>
        <tr>
            <th class="th3">入学年度</th>
            <td class="td3"><a>{{entrance_year}}</a></td>
        </tr>
        <tr>
            <th class="th4">学科</th>
            <td class="td4"><a>{{department_id}}</a></td>
        </tr>
        <tr>
            <th class="th5">パスワード</th>
            <td class="td5"><a>**********</a></td>
        </tr>
        </table>
        <table id="frmBtn">
            <tr>
              <td>
                <div id="btn1">
                  <button type="button" onclick="history.back()">戻る</button>
                </div>
              </td>
              <td>
                <div id="btn2">
                  <button id="button1">登録</button>
                </div>
              </td>
            </tr>
          </table>
          <div id="overlay">
            <div id="overlayWindow">
              <p>オーバーレイが表示されています</p>
              <button id="button2">閉じる</button>
            </div>
          </div>
    </form>
    </table>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(function() {
      $('#button1').on('click', function() {
        $("#overlay, #overlayWindow").fadeIn();
      });
      
      $('#button2').on('click', function() {
        $("#overlay, #overlayWindow").fadeOut();
      });
    });
  </script>
</body>
</html>