{% extends "layout_teacher.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/stu_search.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
    <h4>削除・編集したい学生の名前を入力してください</h4>
    <div id="bkbtn">
        <button id="back" onclick="location.href='{{url_for('admin.account_mgm_top')}}'">←戻る</button>
    </div>
    <div id="search">
        <form action="{{url_for('account_search.student_search_res')}}"  class="search-form-001" method="post">
            <label>
                <input type="text" placeholder="学生の名前を入力してください" name="name" value="{{name}}">
            </label> 
            <button type="submit" aria-label="検索"></button>
        </form>
    </div>
{% endblock %}