<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border>
        <thead>
            <tr>
                <th>名前</th>
                <th>メール</th>
                <th>アカウント削除</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teacher %}
            <tr>
                <td>{{ teacher[1] }}</td>
                <td>{{ teacher[2] }}</td>
                <td><form action="{{ url_for('teacher_mgm.teacher_delete', mail = teacher[2] , name = teacher[1]) }}" method="post" >
                    <button type="submit">アカウント削除</button></form></td>
                

            </tr>
            {% endfor %}
        </tbody>
</body>
</html>