{% extends "layout_teacher.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/tea_disp.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
    <h2 class="h2">教員アカウント一覧</h2>
    <div id="bkbtn">
        <button id="back" onclick="history.back()">←戻る</button>
    </div>
    <div class="table">
        <table  class="table table-bordered border-dark"  style="margin-bottom: 60px;">
            <thead>
                <tr>
                    <th style="width: 150px;">名前</th>
                    <th style="width: 300px;">メール</th>
                    <th style="width: 150px;">アカウント削除</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teacher %}
                <tr>
                    <td>{{ teacher[1] }}</td>
                    <td>{{ teacher[2] }}</td>
                    <td><form action="{{ url_for('teacher_mgm.teacher_delete', mail = teacher[2] , name = teacher[1]) }}" method="post" >
                        <button type="submit">削除</button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}