{% extends "layout_student.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/top_student.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
<div id="search">
    <div class="h4">
      <h4>あなたにピッタリのサークルが見つかる！</h4>
    </div>
    <form class="search-form-001" method="post">
        <label>
            <input type="text" placeholder="例 ）バスケ">
        </label>
        <button type="submit" aria-label="検索"></button>
    </form>
  </div>
  <div>
    <h3 class="tblh3">人気のサークルはこちら</h3>
    <div class="tbl">
      <div class="position-relative">
        <div position-absolute top-100px start-20px>
          <table class="table table-bordered border-success"  style="margin-bottom: 60px;">
            <thead>
              <tr>
                <th scope="col" style="width: 460px"  align="center">サークル</th>
                <th scope="col" style="width: 84px">メンバー数</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a class="title" href="#" style="color: #000000;">サークル名がでるところ</a><br>
                  <span style="font-size: 13px;" >サークル紹介文がでるところ</span>
                </td>
                <td  align="center" valign="middle">10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="ta">
        <div class="divlaunch">
          <p class="p1">サークル立ち上げ申請はこちら</p>
          <a class="launch" href="#">立ち上げる</a>
          <p class="p2">サークルの立ち上げは<span class="span">3人以上</span>の<br>メンバーが必要です!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}