<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('club_edit.club_edit_conf')}}" method="post">
    <input type =textarea name="club_name" id="club_name" value="{{club_name}}">
    <input type="textarea" name="mail" id="mail" value="{{mail}}">
    <input type="textarea" name="objective" id="objective" value="{{objective}}">
    <input type="textarea" name="activites" id="activites" value="{{activites}}">
    <input type="textarea" name="introduction" id="introduction" value="{{introduction}}">
    <input type="textarea" name="note" id="note" value="{{note}}" readonly>
    <button type="submit">送信</button>
</form>
</body>
</html>