{% extends "layout_council.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/mydelete.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
 
    <h2 class="h2">以下のサークルから脱退します。よろしいですか。</h2>
    <div id="bkbtn">
        <button id="back" onclick="history.back()">←戻る</button>
    </div>
    <div class="form">
        <input type="text" name="club_name" id="club_name" value="{{club_name}}" readonly>
        <form action="{{ url_for('club_withdrawal.club_withdrawal_res_cou', club_name = club_name  )}}" method="post" >
        <br>
        <br>
        <br>
            <button class="button" type="submit">脱退</button>
        </form>
    </div>
{% endblock %}