{% extends "layout_council.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/mydelete.css')}}">
<link rel="icon" href="{{url_for('static', filename='/favicon/favicon.ico')}}">
{% endblock %}


{% block content %}
 
    <div class="div1">
        <p class="p">脱退しました</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="button2" onclick="location.href='{{url_for('backtop_gakuseikai')}}'">マイページに戻る</button>
    <div>
    
{% endblock %}