<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ページA</title>
</head>
<body>
    <h1>アカウント登録  </h1>
    氏名<input type="text" id="name"><br>
    メールアドレス<input type="mail" id="mail"><br>
    入学年度<form>
                <select name="options">
                <option value="option1">2021</option>
                <option value="option2">2022</option>
                <option value="option3">2023</option>
                </select>
            </form>
    学科入学年度<form>
                    <select name="options">
                    <option value="option1">システム</option>
                    <option value="option2">デザイン</option>
                    <option value="option3">ビジネス</option>
                    </select>
                </form>
    パスワード<input type="password" id="password"><br>
    パスワード再確認<input type="password" id="password2">
    <input type="submit" values="送信">
</body>
</html>
